* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#formpage {
  height: 100vh;
  background-color: rgb(21, 21, 21);
  color: white;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#formpage > #formbox > h1 {
  font-size: 3rem;
}
#formbox > form {
  height: 350px;
  width: 280px;
  padding: 10px;
  /* border: 1px solid white; */
  border-radius: 5px;
  box-shadow: 0px 0px 1px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#formbox>form:hover{
  transition: 0.5s ease-in-out;
  transform: scale(1.03);
  box-shadow: 0px 0px 50px rgb(177, 170, 170);
}
#formbox > form > input {
  outline: none;
  border: none;
  height: 28px;
  width: 200px;
  padding: 0px 0px 0px 10px;
  border-radius: 6px;
}
#formbox > form > input:hover{
  box-shadow: 0px 0px 20px  rgb(177, 170, 170);
}
#formbox > form > button {
  font-size: 18px;
  padding: 8px 35px;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  color: white;
  box-shadow: 0px 0px 1px white;
}
#formbox > form > button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 40px  rgb(177, 170, 170);
}
.placeholder-color--danger::placeholder {
  color: red;
}